
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    color: black;
}


.Haut {
    margin-top: 200px;

    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.Imageintro{
    border: 5px solid #000000;
}

h2{
    margin-top: 150px;
    font-size: 150%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.MilieuHaut {
    margin-bottom: 100px;
    margin-top: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.Image1{
    border: 3px solid #555;

    width: 400px;

}

.MilieuBas {
    margin: 150px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.Image2{
    border: 3px solid #555;
    width: 400px;

}


.Bas {
    margin: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}
.letter{
    font-weight: bold;
    text-transform: capitalize;
}
.info{
    text-align: center;
}

.input-with-button__input input{
    width: 100%;
    padding: 14px;
    border: 1px solid #d6d6d6;
    border-radius: 0;
    background: transparent;
    background-clip: border-box;
    background-clip: padding-box;
    color: #323232;
    line-height: 1.5;
}

.button {
    display: inline-block;
    min-height: 40px;
    padding: 12px 24px;
    transition: .2s ease;
    transition-property: all;
    transition-property: opacity,border-color,background-color,color;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    border-color: #000;
    background: #000;
    color: #fff;
    font-weight: 700;
    line-height: 1.5rem;
    text-transform: uppercase;
    vertical-align: top;
    font-size: .875em;
    letter-spacing: .08em;
  }
footer {
    margin-top: 60px;
    background-image: linear-gradient(purple, rgb(49, 0, 49));
    color: white;
    
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

i{
    color: rgb(255, 255, 255);
    padding: 10px;
    width: 40px;
    
}
a{ 
    
    text-decoration: none;
}