/* Conteneur principal */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colonnes */
    width: 100%;
    flex-grow: 1;
    gap: 10px; /* Espacement entre les images */
    padding: 10px;
    background-color: white /* Couleur de fond noire */
}

/* Chaque zone correspond à une image */
.zone {
    position: relative;
    width: 100%;
    height: 100vh; /* Chaque zone prend toute la hauteur de l'écran */
    overflow: hidden;
     background-image: linear-gradient(black, grey);/* Zone noire initiale */
    border: 3px solid black; /* Bordure noire pour chaque image */
}

/* Images dans chaque zone */
.zone img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; /* Transition pour les images */
}

/* Texte superposé */
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    opacity: 0; /* Rendre le texte invisible au début */
    transition: opacity 0.5s ease-in-out; /* Transition pour le texte */
    pointer-events: none; /* Éviter que le texte interfère avec le survol */
}

/* Effet au survol pour image et texte */
.zone:hover img,
.zone:hover .text-overlay {
    opacity: 1; /* Montrer le texte et l'image au survol */
}
