body{
    background-color: black !important;
}
form{
    margin: auto;
}
img{
    width: 310px;
}
.commetuveux{
    display: flex;
    justify-content: space-between;
}

label{
    color:white;
    font-weight: bold;
}
.btn{
    margin-top: 10px;
    width: 100%;
}

.I1{
    animation:pop-in 2.5s;
}
.I2{
    animation:pop-in 2.5s;
}
.I3{
    animation:pop-in 2.5s;
}
.I4{
    animation:pop-in 2.5s;
}
@keyframes pop-in {
    0% { opacity: 0; transform: scale(0.1); }
    100% { opacity: 1; transform: scale(1); }
}

