/* Réinitialisation des marges et des bordures */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général du body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
/* Bannière avec le logo */
.banner {
    background-color: #70077E;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Optionnel : une légère ombre pour donner de la profondeur */
}

.logo-container {
    flex-grow: 1;
}

.logo {
    width: 60px; /* Ajustez la taille du logo selon vos préférences */
    height: auto;
}


/* Footer */
footer {
    background-color: #70077E;
    color: white;
    text-align: center;
    padding: 20px;

}
